<header>
  <h1 class="titleApp">{{titleApp}}</h1>
</header>

<main class="container">

  <section class="form-container">
    <input placeholder="Search with" #boxSearch type="text" (keyup)="searchChangeKey(boxSearch.value)">

    <label for="usersSortTitle">Search by</label>
    <select name="usersSortTitle" id="usersSortTitle" #optionFilter (change)="optionChange(optionFilter.value)">
      <option [value]="enumsTable[0]">Name</option>
      <option [value]="enumsTable[1]">Country</option>
      <option [value]="enumsTable[2]">Gender</option>
    </select>
  </section>

  <section class="container">
    <app-table-users [filterString]="searchTitle" [optionSearch]="optionSearch"></app-table-users>
  </section>

</main>