.container {
  max-width: 37.5rem;
  margin: 0 1rem;
}

.form-container {
  max-width: 100%;
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 420px) {
  .container {
    margin: 0 auto;
  }
}
